<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.focus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".FocusApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Notifications -->
        <receiver android:name=".notifications.NotificationListenerService">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Activities -->
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".authentication.AuthenticationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".authentication.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".authentication.RecoverPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".authentication.WelcomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".authentication.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".paneles.activities.InvitationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".paneles.activities.EncuestasActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".paneles.activities.PreguntasActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".paneles.activities.VideoViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".perfil.ChangePasswordActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
